<div class="contenedor">
    <h2>Contacto</h2>
    <div class="row justify-content-md-center">
        <div class="col">
            <img id="logoGris" src="../../../assets/image/Logo_MildredPenso_ennegativo.jpg">
        </div>
        <div class="col col-6">
            <form id="formulario">
                <div class="row g-3">
                    <label for="FormControlInput1">Nombre</label>
                    <input type="name" class="form-control" id="nameInput" placeholder="María Pérez">
                </div>
                <div class="row g-3">
                    <label for="FormControlInput1">Teléfono</label>
                    <input type="phone" class="form-control" id="phoneInput" placeholder="0424 123 456 78">
                </div>
                <div class="row g-3">
                    <label for="FormControlInput1">Email</label>
                    <input type="email" class="form-control" id="mailInput" placeholder="name@example.com">
                </div>
                <div class="row g-3">
                    <label for="FormControlTextarea1">Comentario</label>
                    <textarea class="form-control" id="comentInput" rows="3"></textarea>
                </div>
            </form>
        </div>
     
        <div id="contacto" class="col info">
            <h3>Teléfono</h3>
            <p>0058 414 2276779</p>
            <h3>Mail</h3>
            <p>mildredpenso@gmail.com</p>
        </div>
    </div>
    
</div>
