<section class="container" class="clientes">
    <h2 id="clientes">Clientes</h2>
    <div class="row">
        <div class="col-sm">
            <a href="https://www.lamarcona.com/"><img class="cliente marcona"
                    src="../../../assets/image/Logo-marcona1.png"></a>
        </div>
        <div class="col-sm">
            <a href="http://seminariosinsight.com/website/venezuela/"><img class="cliente insight"
                    src="../../../assets/image/logo2b.png"></a>
        </div>
        <div class="col-sm">
            <img class="cliente fresenius" src="../../../assets/image/fresenius-kabi-logo-ie-xl.png">
        </div>
    </div>
</section>