<section>
    <h2 id="servicios">¿Qué necesitas?</h2>

    <div class="card mb-3" style="max-width: 992px;">
        <div class="row g-0 ">
            <div class="col-lg-6">
                <img class="img-servicios" src="../../../assets/image/imgLaboral.png" class="mx-auto d-block"
                    alt="ImgLabola">
            </div>
            <div class="col-lg-6">
                <div class="card-body">
                    <h5 class="card-title">Asesoria en Derecho Laboral</h5>
                    <p class="card-text">
                        Constitución de sociedades(civil, mercantil, anónima)<br>
                        Constitución de Cooperativas<br>
                        Firma Personal<br>
                        Acta de Asamblea<br>
                        Registro Nacional de contratista<br>
                        Inscripciones IVSS , INCE y todos entes gubernamentales<br>
                    </p>
                    <button type="button" class="btn btn-outline-info">Contáctanos</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3"style="max-width: 992px;">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="card-body">
                    <h5 class="card-title">Todo lo que necesitas en Derecho Mercantil</h5>
                    <p class="card-text">
                        Constitución de sociedades(civil, mercantil, anónima)<br>
                        Constitución de Cooperativas<br>
                        Firma Personal<br>
                        Acta de Asamblea<br>
                        Registro Nacional de contratista<br>
                        Inscripciones IVSS , INCE y todos entes gubernamentales<br>
                    </p>
                    <button type="button" class="btn btn-outline-info">Contáctanos</button>
                </div>
            </div>

            <div class="col-lg-6">
                <img class="img-servicios" src="../../../assets/image/imgMercantil.png" class="rounded mx-auto d-block"
                    alt="ImgLabola">
            </div>
        </div>
    </div>


    <div class="card mb-3" style="max-width: 992px;">
        <div class="row g-0">
            <div class="col-lg-6">
                <img src="../../../assets/image/imgExtranjeria.png" class="rounded mx-auto d-block"
                    alt="ImgExtranjeria">
            </div>
            <div class="col-lg-6">
                <div class="card-body">
                    <h5 class="card-title">Extranjería</h5>
                    <p class="card-text">
                        Constitución de sociedades(civil, mercantil, anónima)<br>
                        Constitución de Cooperativas<br>
                        Firma Personal<br>
                        Acta de Asamblea<br>
                        Registro Nacional de contratista<br>
                        Inscripciones IVSS , INCE y todos entes gubernamentales<br>
                    </p>
                    <button type="button" class="btn btn-outline-info">Contáctanos</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3"style="max-width: 992px;">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="card-body">
                    <h5 class="card-title">Asesoría y gestion a particulares</h5>
                    <p class="card-text">
                        Constitución de sociedades(civil, mercantil, anónima)<br>
                        Constitución de Cooperativas<br>
                        Firma Personal<br>
                        Acta de Asamblea<br>
                        Registro Nacional de contratista<br>
                        Inscripciones IVSS , INCE y todos entes gubernamentales<br>
                    </p>
                    <button type="button" class="btn btn-outline-info">Contáctanos</button>
                </div>
            </div>

            <div class="col-lg-6">
                <img class="img-servicios" src="../../../assets/image/imgParticular.png" class="rounded mx-auto d-block"
                    alt="imgParticular">
            </div>
        </div>
    </div>


</section>