<div class="home">
    <section id="hero" class="secciones hero">
        <div class="Inner">
            <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Aut enim quod eius
                expedita, fugiat nulla labore dicta explicabo corporis quasi ad, repellat quos quia quas eaque!<br> Nam
                ut
                vel quisquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut enim quod eius expedita
                ."<br>- Aldus PageMaker"</p>
        </div>  
    </section>
</div>
