/* You can add global styles to this file, and also import other style files */
h2{
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 0.5px black ;  
    color: #809ead;
}
